.design{
    border: none;
    width: 20%;

    background-color: black;
    color: #ddd;
   
    border-right:'1px solid'
}





.header-left-side {
  flex-grow: 1;
}

.header-right-side {
  display: flex;
  align-items: center;
}

.user-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.designforusername {
  margin-right: 20px;
  padding: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#header {
  border: 1px solid grey;
  background-color: black;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.designforusername{
  border: none;
 
  background-color: black;
  color: #ddd;
  
  border-right:'1px solid'
}
.designbutton{
    border-radius: 20px ;
    
  
    background-color: black;
    margin: 10px;
    
    color: #ddd;
}
.table-container{
    margin: 20px;
}
.data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th, .data-table td {
   
    padding: 8px;
  }
  
  .data-table th {
    background-color: black;
    text-align: center;
    font-weight: bold;
    
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color:black;
  }
  
  .data-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    margin-right: 10px;
  }